/.SuricateDescriptionLabelProvider.java._trace
/.SuricateLabelProvider.java._trace
/.SuricateDescriptionLabelProvider.xtendbin
/.SuricateLabelProvider.xtendbin
/SuricateDescriptionLabelProvider.java
/SuricateLabelProvider.java
