/.SuricateRuntimeModule.java._trace
/.SuricateStandaloneSetup.java._trace
/.SuricateRuntimeModule.xtendbin
/.SuricateStandaloneSetup.xtendbin
/SuricateRuntimeModule.java
/SuricateStandaloneSetup.java
